.frsl-piping-helper button {
    margin-right: 6px;
    font-size: 11px;
    padding: 0px 3px 1px;
    line-height: 14px;
}

.frsl-piping-helper .btn-rcgreen i {
    margin: 0 1px;
}

.frsl-piping-helper .btn-rcpurple img {
    width: 12px;
    position: relative;
    top: -1px;
    margin-right: 2px;
}

.frsl-piping-helper a {
    font-weight: normal;
    color: #3089d4;
    font-size: 11px;
    margin: 10px 0 0 10px;
}
